.about {
  background-color: var(--color-primary);
  padding: 6rem 4rem;
}

.about__content {
  color: #fff;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem 0;
}

@media screen and (min-width: 1024px) {
  .about__content {
    flex-direction: row;
  }

  .about__content :first-child {
    margin-right: 5rem;
  }
}
