.home {
  min-height: 100vh;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

.home__image {
  width: 20rem;
}

@media screen and (min-width: 1024px) {
  .home__image {
    width: 25rem;
  }
}
